body {
    background-color: rgb(82, 43, 119);
}

h1, h2, h3, p {
    text-align: center;
}
a {
    color: rgb(180, 114, 15);
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 45px;
}
h3 {
    font-size: 35px;
}
img {
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#des {
    font-size: 23px;
}
#despr {
    font-size: 19px;
}
#organiration {
    font-size: 35px;
}
